<div class="container-fluid">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-center">
          <%= link_to dashboard_path, class: "btn btn-outline-secondary me-3" do %>
            <i class="bi bi-arrow-left"></i> Voltar
          <% end %>
          <h1 class="h2 mb-0">Materiais de Estudo</h1>
        </div>
        <div class="dropdown">
          <button class="btn btn-link text-dark dropdown-toggle d-flex align-items-center text-decoration-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar_thumbnail, class: "rounded-circle me-2", style: "width: 32px; height: 32px; object-fit: cover;" %>
            <% else %>
              <i class="bi bi-person-circle fs-4 me-2"></i>
            <% end %>
            <span><%= current_user.nickname %></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li>
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="bi bi-gear me-2"></i>Editar Conta
              <% end %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" do %>
                <i class="bi bi-box-arrow-right me-2"></i>Sair
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="study-section mb-4">
        <h2 class="h4">Sites Recomendados</h2>
        <ul class="list-group">
          <li class="list-group-item"><a href="https://www.stoodi.com.br/" target="_blank">Stoodi</a> - Plataforma de estudos com videoaulas e exercícios.</li>
          <li class="list-group-item"><a href="https://www.descomplica.com.br/" target="_blank">Descomplica</a> - Aulas online e material de apoio para o ENEM.</li>
          <li class="list-group-item"><a href="https://www.khanacademy.org/" target="_blank">Khan Academy</a> - Recursos gratuitos para diversas disciplinas.</li>
          <li class="list-group-item"><a href="https://www.qconcursos.com/" target="_blank">Qconcursos</a> - Questões de provas anteriores e simulados.</li>
        </ul>
      </div>
      <div class="study-section mb-4">
        <h2 class="h4">Dicas de Estudo</h2>
        <ul class="list-group">
          <li class="list-group-item">Crie um cronograma de estudos e siga-o rigorosamente.</li>
          <li class="list-group-item">Faça resumos e mapas mentais para facilitar a memorização.</li>
          <li class="list-group-item">Resolva provas anteriores para se familiarizar com o formato do exame.</li>
          <li class="list-group-item">Estude em um ambiente tranquilo e sem distrações.</li>
          <li class="list-group-item">Faça pausas regulares para evitar a fadiga mental.</li>
        </ul>
      </div>
      <div class="study-section mb-4">
        <h2 class="h4">Recursos Adicionais</h2>
        <ul class="list-group">
          <li class="list-group-item"><a href="https://www.youtube.com/user/mundovestibular" target="_blank">Mundo Vestibular</a> - Canal no YouTube com dicas e aulas para o ENEM.</li>
          <li class="list-group-item"><a href="https://www.todamateria.com.br/" target="_blank">Toda Matéria</a> - Conteúdos e exercícios de diversas disciplinas.</li>
          <li class="list-group-item"><a href="https://www.biologianet.com.br/" target="_blank">Biologia Net</a> - Material de apoio específico para biologia.</li>
        </ul>
      </div>
    </main>
  </div>
</div>
