<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Simulados Realizados</h2>
        <%= link_to simulados_path, class: "btn btn-outline-secondary" do %>
          <i class="bi bi-arrow-left"></i> Voltar
        <% end %>
      </div>
      <div class="list-group">
        <% @completed_exams.each do |exam| %>
          <a href="<%= result_exam_path(exam) %>" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= exam.category.titleize %></h5>
              <small>Finalizado em: <%= exam.finished_at.strftime("%d/%m/%Y %H:%M") %></small>
            </div>
            <p class="mb-1">Pontuação: <%= (exam.exam_questions.where(correct: true).count.to_f / exam.exam_questions.count * 100).round(2) %>%</p>
          </a>
        <% end %>
      </div>
    </div>
  </div>
</div>
