<div class="container-fluid">
  <div class="row">
    <%= render 'shared/sidebar' %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <div class="d-flex align-items-center">
          <%= link_to dashboard_path, class: "btn btn-outline-secondary me-3" do %>
            <i class="bi bi-arrow-left"></i> Voltar
          <% end %>
          <h1 class="h2">Simulados</h1>
        </div>
        <div class="dropdown">
          <button class="btn btn-link text-dark dropdown-toggle d-flex align-items-center text-decoration-none" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar_thumbnail, class: "rounded-circle me-2", style: "width: 32px; height: 32px; object-fit: cover;" %>
            <% else %>
              <i class="bi bi-person-circle fs-4 me-2"></i>
            <% end %>
            <span><%= current_user.nickname %></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <li>
              <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                <i class="bi bi-gear me-2"></i>Editar Conta
              <% end %>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= button_to destroy_user_session_path, method: :delete, class: "dropdown-item text-danger" do %>
                <i class="bi bi-box-arrow-right me-2"></i>Sair
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="row g-4">
        <% @exam_categories.each do |category| %>
          <div class="col-md-6">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">
                  <i class="bi bi-<%= category[:icon] %> me-2"></i>
                  <%= category[:name] %>
                </h5>
                <% if category[:questions] %>
                  <p class="card-text">Total de questões: <%= category[:questions] %></p>
                <% end %>
                <% if category[:subjects] %>
                  <p class="card-text">Disciplinas:</p>
                  <ul class="list-unstyled">
                    <% category[:subjects].each do |subject| %>
                      <li><i class="bi bi-dot"></i><%= subject %></li>
                    <% end %>
                  </ul>
                <% end %>
                <%= button_to exams_path, 
                    params: { exam: { category: category[:name].include?("Redação") ? "redacao" : 
                                              category[:name].downcase.gsub(' e suas tecnologias', '').parameterize } },
                    class: "btn btn-primary mt-3" do %>
                  Iniciar Simulado
                  <i class="bi bi-arrow-right ms-2"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </main>
  </div>
</div>