<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Questão <%= @exam.exam_questions.index(@current_question) + 1 %> de 45</h2>
        <div class="timer">Tempo: <span id="exam-timer">00:00:00</span></div>
      </div>
      <div class="card">
        <div class="card-body">
          <p class="question-text"><%= @current_question.question.content %></p>
          <%= form_for @current_question, url: answer_exam_path(@exam), method: :post do |f| %>
            <%= hidden_field_tag :exam_question_id, @current_question.id %>
            <div class="answers-list">
              <% %w(a b c d e).each do |option| %>
                <div class="form-check mb-3">
                  <%= f.radio_button :selected_answer, option, class: "form-check-input" %>
                  <%= f.label "selected_answer_#{option}", 
                             @current_question.question.send("answer_#{option}"), 
                             class: "form-check-label" %>
                </div>
              <% end %>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <%= link_to "Desistir", simulados_path, 
                         class: "btn btn-outline-danger",
                         data: { confirm: "Tem certeza que deseja desistir?" } %>
              <%= f.submit "Próxima", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
